<h2>Users</h2>
<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
      <tr>
        <td>
          <%= link_to customer_path(customer) do %>
            <%= image_tag customer.get_profile_image(50,50) %>
          <% end %>
        </td>
        <td>
          <%= customer.name %>
        </td>
        <td>
          <%= customer.foot_size %>
        </td>
        <td>
          <!--< unless customer == current_customer || current_customer.name == "guestcustomer" %>-->
            <%= render 'public/relationships/follow_btn', customer: customer %>
          <!--< end %>-->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>