<h2>User info</h2>
<%= image_tag customer.get_profile_image(100,100) %>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>名前</th>
      <th><%= customer.name %></th>
    </tr>
    <tr>
      <th>足サイズ</th>
      <th><%= customer.foot_size %> cm </th>
    </tr>
    <tr>
      <th>足幅</th>
      <th><%= t("enums.customer.foot_width.#{customer.foot_width}") %></th>
    </tr>
    <tr>
      <th>足タイプ</th>
      <th><%= t("enums.customer.foot_type.#{customer.foot_type}") %></th>
    </tr>
    <tr>
      <th>自己紹介</th>
      <th><%= customer.introduction %></th>
    </tr>
    <tr>
      <th>フォロー</th>
      <th>
        <%= link_to customer_followings_path(customer) do %>
          <%= customer.followings.count %>
        <% end %>
      </th>
    </tr>
    <tr>
      <th>フォロワー</th>
      <th>
        <%= link_to customer_followers_path(customer) do  %>
          <%= customer.followers.count %>
        <% end %>
      </th>
    </tr>
  </tbody>
</table>
<% if current_customer.name == "guestcustomer" %>
  <div></div>
<% elsif  customer == current_customer %>
  <div>
    <%= link_to 'ブックマーク', keeps_customers_path %>
  </div>
  <div>
    <%= link_to edit_customer_path(customer), class:"btn btn-outline-secondary btn-block" do %>
     <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<% else %>
  <div class="follow-btn_<%= customer.id %>">
    <%= render 'public/relationships/follow_btn', customer: customer %>
  </div>
<% end %>