<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>ブックマーク靴一覧</h1>
      <% @keep_shoes.each do |shoe| %>
        <%= shoe.customer.name %>
        <%= link_to shoe_path(shoe) do %>
          <%= image_tag shoe.get_shoe_image(50,50) %>
        <% end %>
        <%= shoe.name %>
        <%= shoe.shoe_size %>
        <%= shoe.match_rate %>
      <% end %>
    </div>
  </div>
</div>