<% shoe.shoe_comments.each do |shoe_comment| %>
  <tr>
    <td style="width: 30%;">
      <%= link_to customer_path(shoe_comment.customer) do %>
        <%= image_tag shoe_comment.customer.get_profile_image(50,50), class: "rounded-circle mr-2" %>
        <%= shoe_comment.customer.name %>
      <% end %>
    </td>
    <td>
      <%= shoe_comment.comment %>
    </td>
    <td style="text-align: right;">
      <% if shoe_comment.customer == current_customer %>
        <%= link_to '削除', shoe_shoe_comment_path(shoe_comment.shoe, shoe_comment), method: :delete, remote: true, class: "btn delete-btn mr-3" %>
      <% end %>
      
    </td>
  </tr>
<% end %>

