<div class="container">
  <h1>コメント一覧</h1>
  <table class="table ml-4 mt-4">
    <tbody class="comments-index">
      <% @shoe_comments.each do |shoe_comment| %>
        <tr>
          <td>
            <%= link_to admin_customer_path(shoe_comment.customer) do %>
              <%= image_tag shoe_comment.customer.get_profile_image(50,50), class: "rounded-circle mr-2" %>
              <%= shoe_comment.customer.name %>
            <% end %>
          </td>
          <td>
            <%= shoe_comment.comment %>
          </td>
          <td>
            <%= link_to '詳細', admin_shoe_comment_path(shoe_comment), class: "btn go-btn" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
