<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <%= link_to admin_customer_path(@customer) do %>
        <%= image_tag @customer.get_profile_image(100,100) %>
      <% end %>
      <th>名前</th>
      <th><%= @customer.name %></th>
      <div>
        <%= @shoe_comment.comment %>
      </div>
      <div>
        <%= link_to '削除', admin_shoe_comment_path(@shoe_comment), method: :delete %>
      </div>
      <h1>靴</h1>
      <table class="table">
        <tbody>
          <tr>
            <%= link_to admin_shoe_path(@shoe) do %>
              <%= image_tag @shoe.get_shoe_image(100,100) %>
            <% end %>
          </tr>
          <th><%= @shoe.name %></th>
          </tr>
          <tr>
            <th>フット感</th>
            <th><%= @shoe.match_rate %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>