<div class="container">
  <div class="row">
    <div class="mx-auto mt-5 p-4 top">
      <div class="row">
        <h4 class="top-text">
          靴マッチについて
        </h4>
        <div class="ml-2 mt-2">
          <div>
            &emsp;靴は私たちの足を守り、サポートする大切なアイテムです。
            しかし、靴のサイズ選びは靴によって異なるため、とても難しいですよね。
            そこで、皆さんが健康的で快適な足元で毎日を過ごせるよう、靴マッチを作成しました。
          </div>
          <div class="mt-3">
            &emsp;このサイトで、皆さんの靴とのマッチ度投稿を参考に、自分にぴったりの靴を見つけてみてください。
            投稿へのコメント機能を通じて、みんなで靴についての情報を共有し、より良い靴選びのヒントを得ることができます。
            靴好きな人たちとつながり、お気に入りの靴を紹介しあいましょう。
          </div>
          <div class="mt-3">
            &emsp;さらに、自分の靴履歴を残すことで、次の靴選びの参考にもなるかもしれません。
            自分の靴とのマッチ度や感想、アドバイスなど、自由にコメントを残してみてください。
          </div>
          <div class="mt-3">
            &emsp;ぜひお気軽にご参加ください！
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <%= image_tag "shoe1.jpg", class: "top-image" %>
        <%= image_tag "shoe2.jpg", class: "top-image" %>
        <%= image_tag "shoe3.jpg", class: "top-image" %>
        <%= image_tag "shoe4.jpg", class: "top-image" %>
        <%= image_tag "shoe5.jpg", class: "top-image" %>
        <%= image_tag "shoe6.jpg", class: "top-image" %>
        <%= image_tag "shoe7.jpg", class: "top-image" %>
      </div>
    </div>
  </div>
</div>