<div class="container">
  <div class="row">
    <div class="mx-auto mt-5 p-4 top">
      <div class="row">
        <h4 class="top-text">
          靴マッチについて
        </h4>
        <div class="ml-2 mt-2">
          靴は私たちの足を守り、サポートする大切なアイテムです。<br>
          しかし、靴選びは個々の足の形やサイズに合わせて慎重に行う必要があります。<br>
          靴が合わないと、歩行や運動時に不快感や痛みが生じる可能性があります。<br>
          このサイトでは、みなさんの靴レビューを参考にすることで、自分にぴったりの靴を見つけることができます。<br>
          さらに、自分の靴履歴を残しておくことで、将来の靴選びに役立てることができます。<br>
          靴マッチでは、靴に関する悩みを共有し、他のユーザーとコミュニケーションを取ることもできます。靴好きな人たちとつながり、お気に入りの靴を紹介しあいましょう。<br>
          私たちの目標は、皆さんが健康的で快適な足元で毎日を過ごせるようサポートすることです。ぜひ、靴マッチを活用して、理想の靴を見つけてください。
        </div>
      </div>
      <div class="row mt-2">
        <%= image_tag "shoe1.jpg", class: "top-image" %>
        <%= image_tag "shoe2.jpg", class: "top-image" %>
        <%= image_tag "shoe3.jpg", class: "top-image" %>
        <%= image_tag "shoe4.jpg", class: "top-image" %>
        <%= image_tag "shoe5.jpg", class: "top-image" %>
        <%= image_tag "shoe6.jpg", class: "top-image" %>
        <%= image_tag "shoe7.jpg", class: "top-image" %>
      </div>
    </div>
  </div>
</div>