<div class="row">
  <%= link_to '本日', admin_root_path(filter: "Today") %>
  <%= link_to '3日間', admin_root_path(filter: "ThreeDay") %>
  <%= link_to '1週間', admin_root_path(filter: "OneWeek") %>
  <%= link_to '1ヶ月間', admin_root_path(filter: "OneMonth") %>
  <%= link_to '1年間', admin_root_path(filter: "OneYear") %>
</div>