<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>靴情報</h1>
      <%= form_with model: @shoe, url: shoe_path, method: :patch, local: true do |f| %>
        <div class="form-group">
          <label for="shoe_image">商品画像</label><br>
          <%= f.file_field :shoe_image, accept: "image/*" %>
        <div class="form-group">
          <label for="shoe_name">商品名</label><br>
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="form-group">
          <label for="shoe_opinion">感想</label><br>
          <%= f.text_area :body %>
        </div>
        <div class="form-group">
          <label for="shoe_size">靴サイズ</label><br>
          <%= f.select :shoe_size, options_for_select((20..35).step(0.5), @shoe.shoe_size), include_blank: true %>cm
        </div>
        <div class="form-group">
          <label for="match_rate">マッチ度</label><br>
          <%= f.text_field :match_rate %> ％
        </div>
        <div class="form-group">
          <label for="tag_name">タグ付け</label><br>
          <%= f.text_area :tag_name %>
        </div>
        <div class="form-group">
          <label for="price">値段</label><br>
          <%= f.text_field :price %> 円
        </div>
        <div class="form-group">
          <%= f.submit '変更',class:'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

