<div class="container">
  <%= render 'layouts/error', obj: @shoe %>
  <h1>靴情報</h1>
  <div class="note d-flex justify-content-center mb-3">
    <i class="fa-solid fa-asterisk"></i> 必須入力
  </div>
  <%= form_with model: @shoe, url: shoe_path, method: :patch, local: true do |f| %>
    <div class="form-group ml-5">
      <label for="shoe_image">商品画像</label>
      <div class="ml-4">
        <%= f.file_field :shoe_image, accept: "image/*" %>
      </div>
    </div>
    
    <div class="form-group ml-5">
      <label for="shoe_name">商品名</label>
      <div class="ml-4">
        <%= f.text_field :name, autofocus: true, class: "custom-field", style: "width: 300px;" %>
      </div>
    </div>
    
    <div class="form-group ml-5">
      <label for="shoe_opinion">感想</label>
      <div class="ml-4">
        <%= f.text_area :body, class: "custom-area" %>
      </div>
    </div>
    
    <div class="form-group ml-5">
      <label for="shoe_size">靴サイズ</label>
      <div class="ml-4">
        <%= f.select :shoe_size, options_for_select((20..35).step(0.5), @shoe.shoe_size), include_blank: true %>cm
      </div>
    </div>
    
    <div class="form-group ml-5">
      <label for="match_rate">マッチ度</label>
      <div class="ml-4">
        <%= f.select :match_rate, options_for_select((1..100), @shoe.match_rate), include_blank: true %> ％
      </div>
    </div>
    
    <div class="form-group ml-5">
      <label for="tag_name">タグ付け</label>
      <div class="ml-4">
        <%= f.text_area :tag_name, class: "custom-area" %>
      </div>
    </div>
    
    <div class="form-group ml-5">
      <label for="price">値段（半角数字）</label>
      <div class="ml-4">
        <%= f.text_field :price, class: "custom-field" %> 円
      </div>
    </div>
    
    <div class="form-group d-flex justify-content-center">
      <%= f.submit '変更', class: "btn go-btn" %>
    </div>
  <% end %>
</div>

