<!--<= search_form_for @q do |f| %>-->
<!--  <= f.search_field :name_or_tag_name_cont %>-->
<!--  <= f.submit "検索" %>-->
<!--< end %>-->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= form_with url: shoes_path, local: true, method: :get do |f| %>
    <div class="form-group">
      <div class="form-group">
      <label for="shoe_size">靴サイズ</label><br>
      <%= f.select :min_shoe_size, options_for_select((20..35).step(0.5)), include_blank: true %> ~
      <%= f.select :max_shoe_size, options_for_select((20..35).step(0.5)), include_blank: true %> cm
    </div>
  
    <div class="form-group">
      <label for="match_rate">マッチ度</label><br>
      <%= f.select :min_match, options_for_select(1..100), include_blank: true %> ~
      <%= f.select :max_match, options_for_select(1..100), include_blank: true %>
    </div>
  
    <div class="form-group">
      <label for="match_rate">金額</label><br>
      <%= f.select :min_price, options_for_select((1000..50000).step(1000)), include_blank: true %> ~
      <%= f.select :max_price, options_for_select((1000..50000).step(1000)), include_blank: true %>
    </div>
    <div class="actions">
      <%= f.submit "検索" %>
    </div>
    <% end %>
      
    <%= form_with url: shoes_path, local: true, method: :get do |f| %>
      <label for="foot_size">足のサイズ</label><br>
      <%= f.select :foot_size, options_for_select(20..35), include_blank: true %> cm
    </div>

    <div class="form-group">
      <label for="foot_width">足幅</label><br>
      <%= f.radio_button :foot_width, Customer.foot_widths.key(0), checked: false %>
      <%= f.label :foot_width_narrow, Customer.foot_widths_i18n[:narrow] %>
      <%= f.radio_button :foot_width, Customer.foot_widths.key(1) %>
      <%= f.label :foot_width_standard, Customer.foot_widths_i18n[:standard] %>
      <%= f.radio_button :foot_width, Customer.foot_widths.key(2) %>
      <%= f.label :foot_width_wide, Customer.foot_widths_i18n[:wide] %>
    </div>

    <div class="form-group">
      <label for="foot_type">足タイプ</label>

      <i class="fa-solid fa-circle-question"></i><br>
      <%= f.radio_button :foot_type, Customer.foot_types.key(0), checked: false %>
      <%= f.label :foot_type_egypt_type, Customer.foot_types_i18n[:egypt_type] %>
      <%= f.radio_button :foot_type, Customer.foot_types.key(1) %>
      <%= f.label :foot_type_greek_type, Customer.foot_types_i18n[:greek_type] %>
      <%= f.radio_button :foot_type, Customer.foot_types.key(2) %>
      <%= f.label :foot_type_square_type, Customer.foot_types_i18n[:square_type] %>
    </div>

    <div class="form-group">
      <label for="gender">性別</label><br>
      <%= f.radio_button :gender, Customer.genders.key(0), checked: false %>
      <%= f.label :gender_man, Customer.genders_i18n[:man] %>
      <%= f.radio_button :gender, Customer.genders.key(1) %>
      <%= f.label :gender_woman, Customer.genders_i18n[:woman] %>
    </div>
    <div class="actions">
      <%= f.submit "検索" %>
    </div>
    <% end %>
  </div>
  <div class="col-md-8">
      <h1>靴一覧</h1>
      <% @shoes.each do |shoe| %>
        <%= shoe.customer.name %>
        <%= link_to shoe_path(shoe) do %>
          <%= image_tag shoe.get_shoe_image(50,50) %>
        <% end %>
        <%= shoe.name %>
        <%= shoe.shoe_size %>
        <%= shoe.match_rate %>
      <% end %>
    </div>
    <h1>靴一覧</h1>
      <% @customers.each do |customer| %>
        <%= shoe.customer.name %>
        <%= link_to shoe_path(shoe) do %>
          <%= image_tag shoe.get_shoe_image(50,50) %>
        <% end %>
        <%= shoe.name %>
        <%= shoe.shoe_size %>
        <%= shoe.match_rate %>
      <% end %>
    </div>
    <!--<div>-->
    <!--  < @tag_lists.each do |list| %>-->
    <!--    <= link_to list.tag_name, shoes_path(tag_id: list.id) %>-->
    <!--  < end %>-->
    <!--</div>-->
  </div>
</div>
