<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>靴一覧</h1>
      <% @shoes.each do |shoe| %>
        <%= shoe.customer.name %>
        <%= link_to shoe_path(shoe) do %>
          <%= image_tag shoe.get_shoe_image(50,50) %>
        <% end %>
        <%= shoe.shoe_name %>
        <%= shoe.shoe_size %>
        <%= shoe.match_rate %>
      <% end %>
    </div>
    <!--<div>-->
    <!--  < @tag_lists.each do |list| %>-->
    <!--    <= link_to list.tag_name, shoes_path(tag_id: list.id) %>-->
    <!--  < end %>-->
    <!--</div>-->
  </div>
</div>
