<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>靴</h1>
      <div>
        <%= image_tag @shoe.get_shoes_image(100,100) %>
      </div>
      <div><%= @shoe.name %></div>
      <div><%= @shoe.body %></div>
      <div><%= @shoe.maker %></div>
      <div><%= @shoe.genre.name %></div>
      <div><%= @shoe.sports_name %></div>
      <div><%= @shoe.shoes_size %></div>
      <div><%= @shoe.price %></div>
      <div><%= @shoe.match_rate %></div>
    </div>
    <% if @shoe.customer == current_customer %>
      <div>
        <%= link_to '編集', edit_shoe_path(@shoe) %>
      </div>
      <div>
        <%= link_to '削除', shoe_path(@shoe), method: :delete %>
      </div>
    <% end %>
  </div>
  <div>
    <p>
      コメント数：<%= @shoe.shoe_comments.count %>
    </p>
    <% @shoe.shoe_comments.each do |shoe_comment| %>
      <%= image_tag shoe_comment.customer.get_profile_image(50,50) %>
      <%= shoe_comment.customer.name %>
      <%= shoe_comment.comment %>
      <% if shoe_comment.customer == current_customer %>
        <%= link_to '削除', shoe_shoe_comment_path(shoe_comment.shoe, shoe_comment), method: :delete %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form_with model: [@shoe, @shoe_comment] do |f| %>
      <%= f.text_area :comment %>
      <%= f.submit '送信する' %>
    <% end %>
  </div>
</div>
