<div class="row">
  
  <!--投稿者情報-->
  <div class="col-md-3 m-4">
    <%= render 'public/customers/info', customer: @customer %>
  </div>
  <!--end-->
  
  <!--投稿情報-->
  <div class="col-md-8 ml-3">
    
    <!--靴画像・商品名・日付-->
    <div>
      <div class="d-flex align-items-center ml-4">
        <%= image_tag @shoe.get_shoe_image(220,165), class: "mr-5" %>
        <h1><%= @shoe.name %></h1>
      </div>
      <div class="mr-3" style="float: right;">
        <%= @shoe.created_at.strftime('%Y/%m/%d') %>
      </div>
    </div>
    
    <!--靴詳細情報-->
    <table class="table">
      <tbody>
        <tr>
          <th style="width: 30%;">感想</th>
          <th><%= @shoe.body %></th>
        </tr>
        <tr>
          <th style="width: 30%;">靴サイズ</th>
          <th><%= @shoe.shoe_size %> cm</th>
        </tr>
        <tr>
          <th>マッチ度 <i class="fa-solid fa-heart"></i></th>
          <th>
            <%= @shoe.match_rate %> %
            <span class="score ml-5">※ 感想に基づくスコア</span>
          </th>
        </tr>
        <tr>
          <th>タグ付け</th>
          <th>
            <% @shoe_tags.each do |tag| %>
              <%= link_to search_path(tag_id: tag.id) do %>
                <i class="fas fa-hashtag"></i><%= tag.name %>
              <% end %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>お値段</th>
          <th><%= @shoe.price %> 円</th>
        </tr>
      </tbody>
    </table>
    
    <!--ブックマーク-->
    <div id="keep-btn_<%= @shoe.id %>", class="keep-icon mr-5" style="float: right;">
      <%= render 'public/keeps/keep', shoe: @shoe %>
    </div>
    
    <!--編集・削除ボタン-->
    <div class="d-flex align-items-center justify-content-center mt-4">
      <% if @shoe.customer == current_customer %>
        <div class="mr-5">
          <%= link_to '編集', edit_shoe_path(@shoe), class: "btn edit-btn" %>
        </div>
        <div class="ml-5">
          <%= link_to '削除', shoe_path(@shoe), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn delete-btn" %>
        </div>
      <% end %>
    </div>
    
    <!--コメント機能-->
    <div class="mt-5">
      <h4 class="ml-4">コメント(<span class="comment"><%= @shoe.shoe_comments.count %></span>)</h4>
      <table class="table">
        <tbody class="comments-index">
          <%= render 'public/shoe_comments/index_comment', shoe: @shoe %>
        </tbody>
      </table>
      <div class="form-group d-flex justify-content-center mt-5">
        <%= render 'public/shoe_comments/new_comment', shoe: @shoe, shoe_comment: @shoe_comment %>
      </div>
    </div>
    
  </div>
  <!--end-->
  
</div>
