<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/customers/info', customer: @customer %>
    </div>
   <div class="col-md-8 offset-md-1">
      <h1>靴</h1>
      <table class="table">
        <tbody>
          <tr><%= image_tag @shoe.get_shoe_image(100,100) %></tr>
          <th><%= @shoe.shoe_name %></th>
          </tr>
          <tr>
            <th>足サイズ</th>
            <th><%= @shoe.body %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @shoe.shoe_size %></th>
          </tr>
          <tr>
            <th>フット感</th>
            <th><%= @shoe.match_rate %></th>
          </tr>
          <tr>
            <th>タグ付け</th>
            <th>
              <% @shoe_tags.each do |tag| %>
                <%= link_to shoes_path(tag_id: tag.id) do %>
                  #<%= tag.tag_name %>
                <% end %>
              <% end %>
            </th>
          </tr>
        </tbody>
      </table>
      <% if @shoe.customer == current_customer %>
        <div>
          <%= link_to '編集', edit_shoe_path(@shoe) %>
        </div>
        <div>
          <%= link_to '削除', shoe_path(@shoe), method: :delete %>
        </div>
      <% end %>
      <div>
        <% if @shoe.keeped_by?(current_customer) %>
          <%= link_to shoe_keeps_path(@shoe), method: :delete do %>
            <i class="fas fa-bookmark"></i>
          <% end %>
        <% else %>
          <%= link_to shoe_keeps_path(@shoe), method: :post do %>
            <i class="far fa-bookmark"></i>
          <% end %>
        <% end %>
      </div>
      <div>
        <p>
          コメント数：<%= @shoe.shoe_comments.count %>
        </p>
        <% @shoe.shoe_comments.each do |shoe_comment| %>
          <%= image_tag shoe_comment.customer.get_profile_image(50,50) %>
          <%= shoe_comment.customer.name %>
          <%= shoe_comment.comment %>
          <% if shoe_comment.customer == current_customer %>
            <%= link_to '削除', shoe_shoe_comment_path(shoe_comment.shoe, shoe_comment), method: :delete %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@shoe, @shoe_comment] do |f| %>
          <%= f.text_area :comment %>
          <%= f.submit '送信する' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
