<div class="row">
  <div class="col-md-3 m-4">
    <%= render 'public/customers/info', customer: @customer %>
  </div>
  <div class="col-md-8 ml-3">
    <div class="d-flex align-items-center ml-4 mb-3">
      <%= image_tag @shoe.get_shoe_image(150,150), class: "mr-5" %>
      <h1><%= @shoe.name %></h1>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th>感想</th>
          <th><%= @shoe.body %></th>
        </tr>
        <tr>
          <th>靴サイズ</th>
          <th><%= @shoe.shoe_size %> cm</th>
        </tr>
        <tr>
          <th>フット感 <i class="fa-solid fa-heart"></i></th>
          <th><%= @shoe.match_rate %> %</th>
        </tr>
        <tr>
          <th>タグ付け</th>
          <th>
            <% @shoe_tags.each do |tag| %>
              <%= link_to search_path(tag_id: tag.id) do %>
                <i class="fas fa-hashtag"></i><%= tag.name %>
              <% end %>
            <% end %>
          </th>
        </tr>
      </tbody>
    </table>
    <div id="keep-btn_<%= @shoe.id %>", class="keep-icon mr-5" style="float: right;">
      <%= render 'public/keeps/keep', shoe: @shoe %>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-4">
      <% if @shoe.customer == current_customer %>
        <div class="mr-5">
          <%= link_to '編集', edit_shoe_path(@shoe), class: "btn edit-btn" %>
        </div>
        <div class="ml-5">
          <%= link_to '削除', shoe_path(@shoe), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn delete-btn" %>
        </div>
      <% end %>
    </div>
    <div class="mt-5">
      <h4 class="ml-4">コメント(<span class="comment"><%= @shoe.shoe_comments.count %></span>)</h4>
      <table class="table">
        <tbody class="comments-index">
          <%= render 'public/shoe_comments/index_comment', shoe: @shoe %>
        </tbody>
      </table>
      <div class="form-group d-flex justify-content-center mt-5">
        <%= render 'public/shoe_comments/new_comment', shoe: @shoe, shoe_comment: @shoe_comment %>
      </div>
    </div>
  </div>
</div>
