<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/customers/info', customer: @customer %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>靴</h1>
      <table class="table">
        <tbody>
          <tr><%= image_tag @shoe.get_shoe_image(100,100) %></tr>
          <th><%= @shoe.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @shoe.body %></th>
          </tr>
          <tr>
            <th>足サイズ</th>
            <th><%= @shoe.shoe_size %></th>
          </tr>
          <tr>
            <th>フット感</th>
            <th><%= @shoe.match_rate %></th>
          </tr>
          <tr>
            <th>タグ付け</th>
            <th>
              <% @shoe_tags.each do |tag| %>
                <%= link_to search_path(tag_id: tag.id) do %>
                  <i class="fas fa-hashtag"></i><%= tag.name %>
                <% end %>
              <% end %>
            </th>
          </tr>
        </tbody>
      </table>
      <% if @shoe.customer == current_customer %>
        <div>
          <%= link_to '編集', edit_shoe_path(@shoe) %>
        </div>
        <div>
          <%= link_to '削除', shoe_path(@shoe), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </div>
      <% end %>
      <div>
        <% unless current_customer.name == "guestcustomer" %>
          <%= render 'keep', shoe: @shoe %>
        <% end %>
      </div>
      <div>
        <%= render 'public/shoe_comments/index_comment', shoe: @shoe %>
      </div>
      <div>
        <% unless current_customer.name == "guestcustomer" %>
          <%= render 'public/shoe_comments/new_comment', shoe: @shoe, shoe_comment: @shoe_comment %>
        <% end %>
      </div>
    </div>
  </div>
</div>
