<h2>新規登録</h2>
<div class="ml-4">
  <%= form_with model: @customer, url: customer_registration_path do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :name %> <i class="fa-solid fa-asterisk"></i><br>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "custom-field ml-3" %>
    </div>

    <div class="form-group">
      <%= f.label :email %> <i class="fa-solid fa-asterisk"></i><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "custom-field ml-3" %>
    </div>

    <div class="form-group">
      <label for="foot_size">足のサイズ</label> <i class="fa-solid fa-asterisk"></i><br>
      <%= f.text_field :foot_size, autofocus: true, class: "custom-field ml-3" %> cm
    </div>

    <div class="form-group">
      <label for="foot_width">足幅</label><br>
      <div class="btn" data-toggle="buttons">
        <button type="button" class="btn  btn-outline-secondary mr-2">
          <%= f.radio_button :foot_width, Customer.foot_widths.key(0), checked: false, class: "d-none" %>
          <%= f.label :foot_width_narrow, Customer.foot_widths_i18n[:narrow] %>
        </button>
        <button type="button" class="btn btn-outline-secondary mr-2">
          <%= f.radio_button :foot_width, Customer.foot_widths.key(1), class: "d-none" %>
          <%= f.label :foot_width_standard, Customer.foot_widths_i18n[:standard] %>
        </button>
        <button type="button" class="btn btn-outline-secondary mr-2">
          <%= f.radio_button :foot_width, Customer.foot_widths.key(2), class: "d-none" %>
          <%= f.label :foot_width_wide, Customer.foot_widths_i18n[:wide] %>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <%= f.radio_button :foot_width, Customer.foot_widths.key(3), class: "d-none" %>
          <%= f.label :foot_width_not_clear, Customer.foot_widths_i18n[:not_clear] %>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="foot_type">足タイプ</label>
      <span class="question"><i class="fa-solid fa-circle-question"></i></span><br>
      <div class="btn foot-type-btn" data-toggle="buttons">
        <button type="button" class="btn btn-outline-secondary mr-2">
          <%= f.radio_button :foot_type, Customer.foot_types.key(0), checked: false, class: "d-none" %>
          <%= f.label :foot_type_egypt_type, Customer.foot_types_i18n[:egypt_type] %>
        </button>
        <button type="button" class="btn btn-outline-secondary mr-2">
          <%= f.radio_button :foot_type, Customer.foot_types.key(1), class: "d-none" %>
          <%= f.label :foot_type_greek_type, Customer.foot_types_i18n[:greek_type] %>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <%= f.radio_button :foot_type, Customer.foot_types.key(2), class: "d-none" %>
          <%= f.label :foot_type_square_type, Customer.foot_types_i18n[:square_type] %>
        </button>
      </div>
      <%= image_tag "foot_type.jpg", class: "question-image ml-2 mt-2" %>
    </div>

    <div class="form-group">
      <label for="gender">性別</label><br>
      <div class="btn" data-toggle="buttons">
        <button type="button" class="btn btn-outline-secondary mr-2">
          <%= f.radio_button :gender, Customer.genders.key(0), checked: false, class: "d-none" %>
          <%= f.label :gender_man, Customer.genders_i18n[:man] %>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <%= f.radio_button :gender, Customer.genders.key(1), class: "d-none" %>
          <%= f.label :gender_woman, Customer.genders_i18n[:woman] %>
        </button>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "custom-field ml-3" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "custom-field ml-3" %>
    </div>

    <div class="form-group ml-5 mt-5">
      <%= f.submit "登録", class: "btn go-btn" %>
    </div>
  <% end %>
  <div class="form-group ml-5">
    <%= render "public/shared/links" %>
  </div>
</div>


<script>
  $(function(){
    $('.question').on('click', function(){
      $('.question-image').show();
    });
    $('.foot-type-btn').on('click', function(){
      $('.question-image').hide();
    });
  });
</script>