<div class="row">
  
  <!--投稿者情報-->
  <div class="col-md-3 m-4">
    <%= render 'admin/customers/info_admin', customer: @customer %>
  </div>
  <!--end-->
  
  <!--投稿情報-->
  <div class="col-md-8 ml-3">
    
    <!--靴画像・商品名・日付-->
    <div>
      <div class="d-flex align-items-center ml-4">
        <%= image_tag @shoe.get_shoe_image(150,150), class: "mr-5" %>
        <h1><%= @shoe.name %></h1>
      </div>
      <div class="mr-3" style="float: right;">
        <%= @shoe.created_at.strftime('%Y/%m/%d') %>
      </div>
    </div>
    <!--end-->
    
    <!--靴詳細情報-->
    <%= render 'shoe', shoe: @shoe, shoe_tags: @shoe_tags %>
    
    <!--コメント・投稿削除ボタン-->
    <div class="d-flex justify-content-between mt-4">
      <div class="ml-5">
        <%= link_to admin_shoe_comments_path(shoe_id: @shoe.id), class: "btn go-btn" do %>
          コメント(<%= @shoe.shoe_comments.count %>)
        <% end %>
      </div>
      <div class="mr-5">
        <%= link_to '削除', admin_shoe_path(@shoe), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn delete-btn" %>
      </div>
    </div>
    <!--end-->
    
  </div>
  <!--end-->
  
</div>

