<div class="navigation">
  <ul>
    <li class="list active">
      <%= link_to shoes_path, class:"nav-link text-light" do %>
        <span class="icon"><i class="fas fa-home"></i></span>
        <!--<span class="title">ホーム</span>-->
      <% end %>
    </li>

    <li class="list">
      <%= link_to search_path, class:"nav-link text-light" do %>
        <span class="icon"><i class="fas fa-search"></i></span>
        <!--<span class="title">検索</span>-->
      <% end %>
    </li>

    <li class="list">
      <%= link_to new_shoe_path, class:"nav-link text-light" do %>
        <span class="icon"><i class="far fa-plus-square"></i></span>
        <!--<span class="title">投稿</span>-->
      <% end %>
    </li>

    <li class="list">
      <%= link_to customers_path, class:"nav-link text-light" do %>
        <span class="icon"><i class="fas fa-users"></i></span>
        <!--<span class="title">Users</span>-->
      <% end %>
    </li>

    <li class="list">
      <%= link_to customer_path(current_customer), class:"nav-link text-light" do %>
        <span class="icon"><i class="fas fa-user-circle"></i></span>
        <!--<span class="title">マイページ</span>-->
      <% end %>
    </li>
  </ul>
</div>

<script>
  const list = document.querySelectorAll(".list");
  console.log(list);
  function activeLink() {
    list.forEach((item) =>
      item.classList.remove("active")
    );
    this.classList.add("active");
  }
  
  list.forEach((item) => {
    item.addEventListener("click", activeLink);
  });
</script>